@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

:root {
    --color-terminal: #9fa5c4;
    --borde-redondo: 4px;
}
#exit {
    display:none;
}

#root {
    display:none;
}

#encrypt {
    display:none;
}

#encrypt2 {
    display:none;
}
#returnPage {
    display:none;

}
body {
    justify-content: center;
    align-items: center;
    color: rgb(214, 234, 248);
}

#register, #root , #encrypt , #encrypt2  {
    padding: 50px;
    box-shadow: 24px 24px 35px 0px rgb( 0 0 0 / 145%);
    border-radius: var(--borde-redondo);
    position: absolute;
    opacity: .95;
    top: 45%;;
    left: 40%;
    z-index: 1;
    margin: auto;
    width: 15em;
    height: 12em;
}

#textBox {
    margin: 10px;
    color: #d9effc;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.boton {
    position: absolute;
    border: 2px solid white;
    padding: 20px 90px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    background: white;
    background: #303952;
    text-align: center;
    margin: auto;
}

.boton:hover {
    background-color: black;
    color: white;
}
#exit1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    background: red;
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: fixed;
    bottom:5%;
    left:0;
    opacity: .50;

    }

#return, #return2 {
    position:fixed;
    background: transparent;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: 8px 8px 35px 0px rgb( 0 0 0 / 75%);
    border-radius: var(--borde-redondo);
    opacity: .85;
    justify-content: center;
    align-items: center;
    bottom:5%;
    right:0;

}
#return:hover, #return2:hover {
    background-color: white;
    color: black;
}
#container-footer {
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgba(214, 234, 248, 0.514);
    height: 1px;
    display: fixed;
    margin: auto;
    z-index: 4;
    bottom:5%;
    top:0;
    right:0;
}

.header-video video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}

